footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
}

footer p {
    margin: 5px 0;
}

body{
    color:white;
    background-color: #8a884a;
}
footer{
    background-color: #21960f;
}
